{% extends 'ScoreModelBundle:Rapport:aiLayout.html.twig' %}
{% block body %}
<div class="span12">
<ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#">Statische inhoud beheren</a></li>
    <li><a href="#">Secties en vragen beheren</a></li>
    <li><a href="#">Achtergronddocumenten beheren</a></li>
</ul>
</div>
{% endblock %}