<html>
<head></head>
<body>
{%trans  with {'%username%': gebruikersnaam}%} wachtwoordvergeten.mail {%endtrans%}

<a href="http://www.scoremodel.org{{url}}">http://www.scoremodel.org{{url}}</a>
</body>
</html>