<h4>Nieuwe sectie</h4>

<form action="{{ path('admin_sectie_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">{%trans%}Aanmaken{%endtrans%}</button>
    </p>
</form>
